$white: #fff;
$black: #000;
$dark: #101A24;
$primary: #EA6D27;
$light: #f3f4f4;
$body_color: #5C6574;
$body_bgcolor: #f3f4f4;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

$font-family: "Inter", sans-serif;
$font-family-serif: "David Libre", serif;

body, html{
    overflow-x: hidden;
}

body{
    font-family: $font-family;
    color: $body_color;
    background-color: $body_bgcolor;
    &:before{
        content: "";
        position: fixed;
        opacity: 0;
        visibility: hidden;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($black, 0.2);
        transition: .3s all ease;
    }
    &.offcanvas-menu{
        &:before{
            opacity: 1;
            visibility: visible;
        }
    }
 }

a{
    text-decoration: none;
    transition: .3s all ease;
}

h1,h2,h3,h4,h5{
    font-family: $font-family-serif;
    color: $dark;
}

.btn{
    height: 54px;
    padding: 12px 30px;
    border-radius: 4px 15px 4px 15px;
    font-family: $font-family-serif;
    font-size: 20px;
    &:active, &:focus{
        outline: none !important;
        box-shadow: none !important;
    }
    &.btn-primary{
        border-color: $primary;
        background-color: $primary;
        color: $white;
        box-shadow: 0 1px 2px rgba($black, .07),
                    0 2px 4px rgba($black, .07),
                    0 4px 8px rgba($black, .07),
                    0 8px 16px rgba($black, .07),
                    0 16px 32px rgba($black, .07),
                    0 32px 64px rgba($black, .07);
        &:hover{
            border-color: darken($primary, 5%);
            background-color: darken($primary, 5%);
        }
    }
    &.btn-secondary{
        border-color: $dark;
        background: $dark;
        color: $white;
    }
}

// circles
.circles{
    position: absolute;
    top: -480px;
    left: -480px;
    z-index: 1;
    .cicle-1, .circle-2, .circle-3{
        position: absolute;
        display: inline-block;
        width: 960px;
        height: 960px;
        border: 1px solid #E7E8E9;
        border-radius: 100%;
    }
    .circle-1{
        top: 120px;
        left: 20px;
    }
    .circle-2{
        top: -50px;
        left: -50px;
    }
    .circle-3{
        top: 50px;
        left: 50px;
    }
}

.untree_co-section{
    padding: 7rem 0;
    .heading{
        font-size: 60px;
    }
    .excerpt{
        line-height: 29px;
    }
}